body{
    background-image: url("../img/nightsky.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.indh1{
    color: aliceblue;
    font-weight: bold;
    font-family: cursive;
}
.crd{
    background-color: rgba(250, 250, 250, 0.281);
}
.datetext{
    color:rgb(187, 187, 187);
}